name: Full build inside container

on: [workflow_dispatch]

jobs:
  container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u doerfli --password-stdin
      - uses: rlespinasse/github-slug-action@v2.x
      - run: docker build -f Docker_fullbuild.Dockerfile -t ghcr.io/doerfli/covid-numbers:${{ env.GITHUB_REF_SLUG }} .
      - run: docker push ghcr.io/doerfli/covid-numbers:${{ env.GITHUB_REF_SLUG }}
  containerArm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u doerfli --password-stdin
      - uses: rlespinasse/github-slug-action@v2.x
      - run: docker build -f Docker_fullbuild.arm64v8.Dockerfile -t ghcr.io/doerfli/covid-numbers-arm64:${{ env.GITHUB_REF_SLUG }} .
      - run: docker push ghcr.io/doerfli/covid-numbers-arm64:${{ env.GITHUB_REF_SLUG }}
